.segment-bar {
  display: flex;
  margin-left: -6px;
}

.input-row.not-in-quickbuy {
    display: block;
    clear: both;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.segment-bar__segment {
    flex: 1 0 0;
    margin-left: 6px;
    height: 3px;
    background: rgb(23 23 23 / 10%);
}

.segment-bar__segment--filled {
    background: rgb(23 23 23);
}

.feature-rating__labels {
  display: flex;
  margin-top: 8px;
  font-size: var(--smaller-text-size-1);
  line-height: 1.4;
}

.feature-rating__label-left {
  flex: 1 0 0;
  text-align: start;
  margin-inline-end: 16px;
}

.feature-rating__label-middle {
  flex: 1 0 0;
  text-align: center;
}

.feature-rating__label-right {
  flex: 1 0 0;
  text-align: end;
  margin-inline-start: 10px;
}
div:empty{
  display: block !important;
}
